Getting started with Manifest-Destiny (Ansible)

At this point it’s obvious Manifest-Destiny has intrigued you or at least peaked your interest enough that you want to learn more about it and how to use it. Fortunately it’s a very easy program to use and get started on, so let’s begin!

Creating a Project

The first thing you’re going to want to do is create a project. A project in Manifest-Destiny is basically your website, but can be anything you want. If you work on multiple websites then this is how you can keep everything separate and organized. This is also where we suggest you divide your production and development environments. For example, say you’re working on WebsiteA, we would suggest you create two projects called ‘WebsiteA-Prod’ and ‘WebsiteA-Dev’. With the ability to share roles and playbooks between projects it makes it easy to work in your development environment and only move onto your production environment when ready!

There are three things to fill out when creating a project:

  Name
  This is the name of the Project

  Description
  Short and simple but descriptive enough to know what it is

  Type
  Choose which type of automation tool you want to use. This is very important, as all subsequent screens will be based on what you choose here.

Once you have everything filled out then all you need to do is click on the Add button and you have created your first project! Once created you can either click on the project name or the Manage button to go inside the project.


Inside a Project

There are quite a few things to do inside a project once it’s been created:

  1. Creating a Role

  2. Add a Host

  3. Create a Cloud Server

  4. View Inventory File

  5. View Jobs

 
Add a Host

A host is just a Cloud server that you want Ansible to interact with. If you have built a Cloud server outside of Manifest-Destiny that you wish to interact with still then you can manually add it to the inventory file so that you can run playbooks against it.

 
Create a Cloud Server

You can create Rackspace Cloud servers from Manifest that will automatically be added to the inventory file. Creating a Rackspace Cloud server through Manifest is just as easy as creating it through the mycloud.rackspace.com portal, but with a few more options:

 
  Region
  The region you wish to build your server in

  Server Name
  Name of the server

  Group
  How you wish to define this server. This is important because when you run a playbook it will run against what’s defined here and within the playbook.

  Flavor
  The size of Cloud server you wish to build.

  Image
  The type of Cloud server you wish to build.

 
Inventory

The inventory is a list of your Cloud servers and what group they belong to. It’s with this that playbooks will associate which hosts to run a playbook against.
You can also run Ansible ad-hoc commands from this section. To learn more about ad-hoc commands please visit http://docs.ansible.com/intro_adhoc.html

 
Jobs

Whenever you create a server or run an ad-hoc command through Manifest it will show up under the Jobs section to let you know the status. You can see if it’s queued, running, building or completed.

 
Creating a Role

While creating a project helps keep things organized from high-level perspective, we also want to keep things organized within a project, which is why we define roles. A role can be anything you want. You can use a role to define a server or group of servers or even use it to define what sort of playbooks are contained within there. For example, you could create the following roles:

  Webserver
  Playbooks created in this role are strictly for webserver type configuration

  Database
  Playbooks created in this role are strictly for database type configuration

  Common
  Playbooks create in this role can be used on all types of servers and can contain such things as creating users, directories, importing files and updating common packages.

How you define roles are completely up to you of course and are here to make organization within projects easier. Creating a role is even easier than creating a project as there are only two fields to fill out:

  Name
  This is the name of the role

  Desctiption
  Short and simple description of what the role is

Once that has been filled out then all you need to do is click on the Add button and you have created your first role! Once created you can either click on the name of the role or on the Manage button to go inside the role.

 
Inside a Role

There are a few things to do within a role:

  1. Create playbook
  
  2. Import playbook from repo


Import Playbook

YET TO BE DETERMINED


Creating a Playbook

A playbook can be as detailed or as simple as you want! Ansible is a very powerful automation tool that can help administer and deploy your environment and Manifest-Destiny has tried to simplify that as much as possible. So let’s get started!


Add Tasks

When you add a task to an Ansible playbook you are defining what function or module you are wanting to be performed or executed when this particular playbook runs against a server. A task can be something as simple as creating users or as complicated as setting up MySQL replication. Typically playbooks have multiple tasks to be performed.

In Manifest-Destiny we have tasks divided into 5 sections:

  All Modules
  Every module in Ansible is located here

  System
  Common modules that are run on the OS

  Packages
  Common package handlers for OS

  Files
  Common modules relating to performing tasks with files

  Databases
  Common modules relating to various databases(MySQL, PostgreSQL)

Regardless of which module you choose to use, you will have to give a descriptive name to that task. This has no affect on how the task is ran from the playbook, but instead helps others who look at the playbook understand what is going on without having to interpret what the task is doing.

Once a module is chosen then a few things happen depending on the module:

  Desctiption
  This gives a brief description of what this module does as defined by Ansible itself.

  Options
  You are given all the available options of things that can be done with this module. By click on the input text box you will then be given a description of what exactly this option is and what arguments can go with it.

Now that everything has been filled out you can just click on the Add button and the module has now been added to the task section of the playbook!

 
Hosts / Variables / Handlers / Includes

Set Play Host(s) and User

Here is where you determine what host(s) to run play against and which user.

  Hosts
  What you put here needs to match a group you have defined in your inventory. Any hosts that is included in this group in the inventory will have the playbook run against it.

  User
  This is the user you want Ansible to run as. This is typically the root user but can be changed to any user you want. Just make sure the user has adequate permission ot perform the tasks you have put in the playbook.


Add Play Variables

  Variable Name
  Name of the variable

  Value



Add Play Handlers

  Handler Name
  Name of the handler

  Service Name
  Name of the service

  Service State
  State the service should be in

  Add Include
  Name of other playbook you wish to include in this one
